body{
	font-family: "Roboto Condensed", sans-serif; 

}
#general{
	width: 100%;
	height: 100%;
	background-image: url('../../imagenes/background_main.jpg'); 
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.form{
	background-image: url('../../imagenes/bg-modal.png');
	border-radius: 20px;
	color: #FFFFFF;
	left: 20%;
	max-height: 500px;
	padding: 25px;
	position: absolute;
	right: 20%;
	text-align: center;
	top: 15%;
	width: auto;
}