body{
	font-family: "Roboto Condensed", sans-serif; 
	background-image: url('../../imagenes/background_main.png'); 
	background-size: cover;
}
#general{
	height: 100%;
	width: 100%;
}
.form{
	background-image: url('../../imagenes/bg-modal.png');
	border-radius: 20px;
	color: #FFFFFF;
	left: 20%;
	padding: 25px;
	position: absolute;
	right: 20%;
	text-align: center;
	top: 5%;
	width: auto;
}
.form.load{
	opacity: 1;
}
.form table{
	width: 100%;
}
#logo_principal{
	padding-top: 1%;
	width: 70%;
}
.form table input{ /* Tamaño de los input en login */
	border: 0;
	bottom: 10px;
	font-size: 30px;
	padding-left: 5px;
	position: relative;
	width: 40%;
    background: transparent;
    border-bottom: 1px solid white;
    color: #FFFFFF;
    font-family: "Roboto Condensed";
    left: 15px;
}
.errores{ /* Estilo de los errores */
	background: red;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	color: #FFFFFF;
	/*display: none;*/
	float: center;
	font-size: 15px;
	padding: 5px;
	position: relative;	
	text-align: center;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/* Se inicia estilos al form de municipios cuando es movil o ventana menos de 768px */			
@media screen and (max-width: 768px){
	.form{
		left: 10%;
		padding: 0px;
		right: 10%;
		top: 3%;
	}
	#logo_principal{
		width: 95%;
	}
	.form table input{ /* Tamaño de los input en login */
		font-size: 20px;
		padding-left: 5px;
		width: 60%;
	    left: 0px;
	}

}
